*{
    margin: 0;
    padding: 0;


}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    height: 350px;
    width: 350px;
   padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 5px 6px -2px #000, -6px -7px 6px -2px #ecdede;
border: none;
    margin-top: 150px;
}

.img{
margin-bottom: 50px;
    height: 200px;
    width: 350px;
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}